@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

.app {
    background: var(--bg-color);
    min-height: 100vh;
    width: 100%;

    %common-border {
        border: 1px solid var(--border-color);
    }

    .header {
        display: flex;
        align-items: center;
        flex-direction: row;
        padding-top: 20px;
        background: var(--header-bg-color);

        @extend %common-border
    }

    .content {
        padding: 50px;

        @extend %common-border
    }

    .footer {
        text-align: center;

        @extend %common-border
    }
}