@import "variables/global";
@import "themes/light";
@import "themes/dark";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    width: 100%;
    min-height: 100vh;
    min-width: 1000px;
    background: var(--bg-color);

    .header {
        display: flex;
        height: 100px;
        vertical-align: center;
        justify-content: space-between;
        align-items: center;
        background: var(--header-bg-color);

        .title {
            margin: 0;
            display: flex;
            font-size: 50px;
            justify-content: center;
        }
    }

    .content {
        display: flex;
        padding: 0 50px 50px;
    }

    .footer {
        text-align: center;
    }
}