.app.light {
    --bg-color: #199090;
    --inverted-bg-color: #152020;
    --primary-color: #ce2626;
    --inverted-primary-color: #db8f2b;
    --secondary-color: #2f43a3;
    --inverted-secondary-color: #5babb4;
}